

///////////////////////////////////////////////////////////////
//backgorunds
///////////////////////////////////////////////////////////////
.bg-transparent {
    background-color: transparent;
}

.bg-white-smoke {
    background-color: whitesmoke;
}

.bg-white {
    background-color: white;
}

.bg-gradient-white-smoke {
    background: linear-gradient(45deg, whitesmoke, white);
}

.bg-gradient-yellow {
    background: linear-gradient(45deg, #ffa804, #fbc436);
    color: white;
}

.bg-s {
    background: linear-gradient(45deg, #3C404C, #30323a);
}

///////////////////////////////////////////////////////////////
// alignment
///////////////////////////////////////////////////////////////

.app-container {
    min-height: 100vh;
    max-height: 100vh;
}

.fixed-bottom {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    z-index:1030;
}


///////////////////////////////////////////////////////////////
//shadows
///////////////////////////////////////////////////////////////
.soft-down-shadow-b {
    box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.2);
}
.hard-down-shadow-b {
    box-shadow: 0 12px 20px -4px rgba(0, 0, 0, 0.6);
}

///////////////////////////////////////////////////////////////
// BUTTONS //
///////////////////////////////////////////////////////////////

//primary

.p-btn {
    background: linear-gradient(45deg, #ffa804, #fbc436);
    color: white;
    border: none;
}

.s-btn {
    background: linear-gradient(45deg, #3C404C, #30323a);
    color: white;
    border: none;
}


///////////////////////////////////////////////////////////////
//elements
///////////////////////////////////////////////////////////////
.card {

    .card-header {
        border-top-left-radius: 24px !important; /* Arrotonda il bordo in alto a sinistra */
        border-top-right-radius: 24px !important;
        align-items: center;
    
        .p-btn {
            padding: 5px 15px;
            font-weight: 500;
            font-size: small;
        }
    }

}
