.bg-violet {
    background-color: rgb(188, 94, 188);
}

.bg-yellow {
    background-color: yellow;
}

.bg-transparent {
    background-color: transparent;
}

.bg-white-smoke {
    background-color: whitesmoke;
}

.bg-white {
    background-color: white;
}

.bg-gradient-white-smoke {
    background: linear-gradient(45deg, whitesmoke, white);
    color: whitesmoke;
}

.bg-gradient-yellow {
    background: linear-gradient(45deg, #ffa804, #fbc436);
    color: white;
}

.gradient-button {
    background: linear-gradient(45deg, #FFC107, #9C27B0); /* Definizione del gradiente */
    color: white; /* Colore del testo */
    // padding: 10px 20px; /* Spaziatura interna */
    border: none; /* Rimuovi il bordo */
    // cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    // border-radius: 5px; /* Bordo arrotondato */
    font-weight: bold; /* Grassetto */
  }

.fixed-bottom {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    z-index:1030;
}