<app-main-navbar></app-main-navbar>
<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="row settings-btn-row first-btn-row">
                <button type="button" class="btn btn-info btn-round settings-btn">Languages</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn btn-info btn-round settings-btn">Dark Mode</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn btn-info btn-round settings-btn">Create a League</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn btn-info btn-round settings-btn">Report a Bug</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn btn-info btn-round settings-btn">FAQ</button>
            </div>
        </div>
    </div> 
    <div class="section-no-pad section-footer">
        <div class="container">
            <div class="row settings-btn-row footer-row">
                <button type="button" class="btn btn-danger btn-round settings-btn">Logout</button>
            </div>
        </div>
    </div>   
</div>
<app-footer></app-footer>
