
<div class="wrapper app-container">
    <div class="section-no-pad">
        <div class="container">
            <div class="row logo-row">
                <img src="./assets/img/logo.png" class=" img-no-padding img-responsive img-logo">
            </div>
            <div class="row settings-btn-row first-btn-row">
                <button type="button" class="btn p-btn btn-round settings-btn">Languages</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn p-btn btn-round settings-btn">Dark Mode</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn p-btn btn-round settings-btn">Create a League</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn p-btn btn-round settings-btn">Report a Bug</button>
            </div>
            <div class="row settings-btn-row">
                <button type="button" class="btn p-btn btn-round settings-btn">FAQ</button>
            </div>
        </div>
    </div> 
    <div class="section-no-pad section-logout">
        <div class="container">
            <div class="row settings-btn-row footer-row">
                <button type="button" class="btn btn-danger btn-round settings-btn" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>   
</div>
<div class="navbar-div">
    <app-main-navbar></app-main-navbar>
</div>
<!-- <app-footer></app-footer> -->
