.settings-btn-row {
    justify-content: center;
}

.settings-btn {
    margin: 10px;
    width: 90%;
}

.section-footer {
    padding-top: 70px;
}

.first-btn-row {
    margin-top: 20px;
}
.img-logo {
    width: 6rem;
    height: 4rem;
}
.logo-row {
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}

.section-logout {
    position: absolute;
    bottom: 80px;
    width: 100vw;
}