<div class="section-no-pad">
    <nav class="navbar navbar-expand-lg bg-violet fixed-top">
        <div class="container navbar-container">
            <a class="nav-item navbar-btn" href="#">
    
                <i class="nc-icon x2 nc-user-run"></i>
                Play
            </a>
            <a class="nav-item navbar-btn" routerLink="/home">
    
                <i class="nc-icon x2 nc-single-02"></i>
                Home
            </a>
            <a class="nav-item navbar-btn" href="#">
    
                <i class="nc-icon x2 nc-time-alarm"></i>
                Updates
            </a>
            <a class="nav-item navbar-btn" routerLink="/settings">
    
                <i class="nc-icon nc-settings-gear-65 x2"></i> 
                Settings
            </a>
        </div>
    </nav>
</div>
