<div class="section-no-pad">
    <nav class="navbar navbar-expand-lg bg-white fixed-bottom">
        <div class="container navbar-container">
            <a class="nav-item navbar-btn btn-unselected" href="#">
    
                <i class="nc-icon x1half nc-user-run nav-icon"></i>
                Play
            </a>
            <a class="nav-item navbar-btn btn-unselected" routerLink="/home">
    
                <i class="nc-icon x1half nc-single-02 nav-icon"></i>
                Home
            </a>
            <a class="nav-item navbar-btn btn-unselected" href="#">
    
                <i class="nc-icon x1half nc-time-alarm nav-icon"></i>
                Updates
            </a>
            <a class="nav-item navbar-btn btn-selected " routerLink="/settings">
    
                <i class="nc-icon x1half nc-settings-gear-65 nav-icon"></i> 
                Settings
            </a>
        </div>
    </nav>
</div>
