.navbar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    background-color: transparent;
    font-size: small;
    font-weight: 400;
}

.btn-unselected {
    color: #14cdc8;
}

.btn-selected {
    top: 0;
    left: 0;
    z-index: -1; /* Posiziona il testo dietro il contenuto principale */
    background: #ffa804; /* Imposta il gradiente da FFA602 a FDCC4A */
    -webkit-background-clip: text; /* Permette al gradiente di riempire il testo */
    color: transparent;
}

.navbar-container {
    width: 100vw;
    justify-content: space-around;
    // border-top: 1px solid grey;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  ;
}

.nav-icon {
    margin-bottom: 5px;
    font-weight: 400;
}
  