<div class="section-no-pad">
    <nav class="navbar navbar-expand-lg bg-gradient-white-smoke fixed-bottom">
        <div class="container navbar-container">
            <a class="nav-item navbar-btn"
               [routerLink]="item.link"
               [ngClass]="{'btn-selected': item.selected, 'btn-unselected': !item.selected}"
               (click)="onItemClick(index)"
               *ngFor="let item of menuItems; let index = index">
              <i [ngClass]="item.scss" class="nc-icon x2 nav-icon"></i>
              <!-- {{ item.title }} -->
            </a>
        </div>
    </nav>
</div>
