// page and rows general layout
.section-main-content {
    padding: 85px 0px 0px;
    position: relative;
    background-color: #fff;

    .row {
        justify-content: center;

        .row-content {
            margin-bottom: 10px;
            width: 95vw;
        }
    }
}

// list of player section
.card-players {
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;

    .league-list-group-item {
        position: relative;
        display: block;
        padding: .25rem 0.25rem;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);

        .avatar {
            width: 2.5rem;
            height: 2.5rem;
            font-size: .765625rem;
            margin: 5px;
        }
    
        .up-down-container {
            display: flex;
            flex-direction: row;
            text-align: end;

            .btn {
                border: none;
                margin: 0 3px;
            }
        } 
    }
}

// winners and losers section
.player-chip-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;

    .player-chip {
        padding: 5px 10px;
        border-radius: 20px;
        margin: 5px 3px;
        font-weight: bold;
        font-size: small;
        display: flex;
        align-items: center;
    }
      
    .winner-chip {
        background-color: #14CDC8;
        color: white;
    }
    
    .loser-chip {
        background-color: red;
        color: white;
    }

    .name {
        margin-right: 2px;
    }
    
    .btn-remove {
        background-color: transparent;
        border: none;
    }
}
  
// end and new match btn section
.button-container {
    display: flex;
    justify-content: space-around;

    .btn-width {
        width: 45%;
    }
}
  
.vertical-text h3 {
    margin: 0;
}

.slider-point input[type="range"] {
    /* Cambia il colore del track dello slider */
    background: linear-gradient(to right, red, blue); /* Un esempio di gradiente di colore */
    border: none; /* Rimuove il bordo del track, se presente */
    height: 4px; /* Altezza del track */
    border-radius: 2px; /* Bordi arrotondati */
  }