<div class="wrapper app-container">
  <app-create-match-navbar></app-create-match-navbar>
  <div class="section-main-content">
    <div class="container">
      <!-- search bar and list row-->
      <div class="row">
        <!-- search bar -->
        <div class="row-content">
          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
            <input type="text" class="form-control" placeholder="Search Player" aria-describedby="basic-addon1"
              [(ngModel)]="searchText" (input)="filterPlayers()" (focus)="focus=true" (blur)="focus=false" />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <!-- list of players-->
        <div class="row-content">
          <div class="card card-players">
            <div class="">
              <ul class="list-group list-group-flush">
                <li class="league-list-group-item" *ngFor="let player of filteredPlayers">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                      <img [src]="player.imageSrc" alt="" class="avatar rounded-circle" routerLink="/league" />
                    </div>
                    <div class="flex-grow-1">
                      <h5 class="mb-0">{{ player.name }}</h5>
                    </div>
                    <div class="up-down-container">
                      <button class="btn btn-round btn-icon bg-success" (click)="addToWinners(player)">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-round btn-icon bg-danger" (click)="addToLosers(player)">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- winners row -->
      <div class="row">
        <div class="row-content">
          <div class="card bg-success2">
            <div class="vertical-text">
              <h3>w</h3>
              <h3>i</h3>
              <h3>n</h3>
              <h3>n</h3>
              <h3>e</h3>
              <h3>r</h3>
              <h3>s</h3>
            </div>
            <div class="player-chip-container">
              <div class="player-chip winner-chip" *ngFor="let winner of winners; let i = index">
                <span class="name">{{ winner.name }}</span>
                <button class="btn-remove btn" (click)="removePlayerFromTeam(winners, i)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- losers row -->
      <div class="row">
        <div class="row-content">
          <div class="card bg-danger2">
            <h3>losers</h3>
            <div class="player-chip-container">
              <div class="player-chip loser-chip" *ngFor="let loser of losers; let i = index">
                <span class="name">{{ loser.name }}</span>
                <button class="btn-remove btn" (click)="removePlayerFromTeam(losers, i)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- points slider row -->
      <div class="row">
        <div class="row-content">
          <div class="card">
            <h3>Winning Team Points</h3>
            <div class="slider-container">
              <input type="range" min="0" max="30" step="5" [(ngModel)]="selectedPoints">
              <span class="slider-value">{{ selectedPoints }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end and new match btn row-->
      <div class="row">
        <div class="row-content">
          <div class="button-container">
            <button class="btn s-btn btn-width btn-block btn-round soft-down-shadow-b" (click)="newMatch()">New Match</button>
            <button class="btn p-btn btn-width btn-block btn-round soft-down-shadow-b" (click)="goToPreview()">Preview</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


