.avatar {
    width: 3rem;
    height: 3rem;
    font-size: .765625rem;
    margin: 5px;
}
a {
text-decoration:none;    
}

.section-footer {
    padding-top: 70px;
}

.position {
    text-align: end;
}