<div class="section-no-top-pad">
    <div class="container">
        <div class="row">
          <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
              <div class="d-flex card-header justify-content-between bg-gradient">
                <h5 class="me-3 mb-0">Your Leagues</h5>
                <button class="p-btn btn-round p-btn soft-down-shadow-b" routerLink="/leagues">View All</button>
            </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item pt-0" *ngFor="let client of clients">
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-3">
                        <img [src]="client.imageSrc" alt="" class="avatar rounded-circle" routerLink="/league"/>
                      </div>
                      <div class="flex-grow-1">
                        <h6 class="mb-0" routerLink="/league" >{{ client.name }}</h6>
                        <!-- <p class="mb-0 text-muted">{{ client.location }}</p> -->
                      </div>
                      <div class="flex-shrink-0 position">
                        <span class="mb-0 text-muted" routerLink="/league">
                            Pos.
                        </span>
                        <p routerLink="/league">{{ client.amount }}</p>                      
                      </div>
                    </div>
                  </li>
                </ul>            
              </div>
            </div>
          </div>
        </div>
    </div>    
</div>
