<div class="section-no-pad">
    <div class="container bg-transparent">
        <div class="owner">
            <div class="avatar">
                <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-profile">
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                </div>
            </div>
            <!-- <div class="column">
                <div class="">
                    <p>Some Stats: 99%</p>
                    <p>Some Stats: 99%</p>
                    <p>Some Stats: 99%</p>
                    <p>Some Stats: 99%</p>
                    <br />
                    <button class="btn btn-outline-default btn-round gradient-button">
                        <i class="nc-icon x2 nc-trophy"></i> 
                        Achievements
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>
