.owner{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.owner .avatar{
    padding-top: 45px;
    max-width: 180px;
    display: inline-block;
    
}
.owner .name h4{
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: 600;
    color: black;
}

.img-profile {
    box-shadow: 0 12px 20px -4px rgba(0, 0, 0, 0.6); 
}


.option-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 15px;
    align-items: end;
}



.stats {
    position: absolute;
    margin: -10px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-body {
    padding: 0.75rem 1.25rem;

    .card-content {
        display: flex;
        flex-direction: row;
    
        .center-col {
            margin: 0px 20px;
        }
    
    
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0px 10px;
            padding: 0px 0.35rem;
    
            label {
                font-size: smaller;
                margin: 0;
            }
    
            .points {
                font-size: large;
                font-weight: 500;
            }
        }
    }
}


