<div class="section-no-pad">
    <div class="option-buttons">
        <button type="button" class="btn btn-just-icon s-btn" style="margin: 3px;">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-just-icon s-btn" style="margin: 3px;" routerLink="/achievements">
            <i class="fa fa-trophy"></i>
        </button>
    </div>
    <div class="container bg-transparent">
        <div class="owner">
            <div class="avatar">
                <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-profile">
                <div class="name">
                    <h4 class="username"> {{ username.toUpperCase() }} </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <div class="column">                    
                        <span class="points">50</span>
                        <label>P. Matches</label>
                    </div>
                    <br>
                    <div class="column center-col">                       
                        <span class="points">50%</span>
                        <label>Win. Perc.</label>
                    </div>
                    <br>
                    <div class="column">                       
                        <span class="points">100</span>
                        <label>Earned Points</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
