.btn-login {
    margin-top: 20px;
     margin-bottom: 10px;
}

.login-row {
    justify-content: center;
}

.btn-forgot-password {
    text-transform: capitalize;
    font-weight: 300;
    text-align: end;
    color:  #14cdc8;
}

.forgot2 {
    justify-content: end;
    align-items: start;
    display: flex;
}

.forgot {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

// .has-error {
//     border: 1px solid red; /* Cambia il colore del bordo in rosso */
// }
  
.error-message {
    color: red; /* Imposta il colore del testo dell'errore in rosso */
    margin-top: 5px; /* Aggiungi uno spazio tra il campo input e il messaggio di errore */
}
  