<div class="wrapper app-container">
    <app-back-navbar></app-back-navbar>
    <div class="section-main-content">
      <div class="container">
        <div *ngFor="let match of matches">
            <div class="row">
                <div class="col-xl-12 mb-lg-5">
                  <div class="card">
                      <div class="d-flex card-header justify-content-between bg-gradient">
                          <!-- <h5 class="me-3 mb-0">Last matches</h5> -->
                          <input class="form-control" placeholder="yyyy-mm-dd"
                                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
                          <div class="btn-container">
                            <button class="p-btn btn-round soft-down-shadow-b">Edit</button>
                            <button class="danger-btn btn-round">Remove</button>
                          </div>
                                               
                      </div>
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="player-chip-container">
                                <div class="player-chip winner-chip" *ngFor="let winner of match.winners; let i = index">
                                  <span class="name">{{ winner.name }}</span>
                                </div>
                            </div>
                            <div class="player-chip-container">
                                <div class="player-chip loser-chip" *ngFor="let loser of match.losers; let i = index">
                                  <span class="name">{{ loser.name }}</span>
                                </div>
                            </div>
                        </div>    
                        <div class="card-points-footer">
                            <div class="winner-footer">
                                <h5> Points per Player: {{ match.winpoints }} </h5>
                            </div>
                            <div class="loser-footer">
                                <h5> Points per Player: {{ match.losepoints }} </h5>
                            </div>
                        </div>        
                      </div>
                  </div>
                </div>
            </div>           
        </div>
        <div class="row">
            <div class="row-content">
              <div class="button-container">
                <button class="btn btn-round p-btn btn-width" (click)="saveMatches()">Confirm</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>