
.bar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 17vw;
}

.red-dot {
  color: red; /* Colore del pallino rosso */
  font-size: calc(50px + 10vw);
}

.matches-row {
  margin: 0 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}

.label {
  flex: 1;
  position: relative;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-radius: 50%;
}

.green {
  background-color: green;
}

.matches-container {
  // background-color: aquamarine;
}