td {
    padding: 3px 8px;
}

th {
    padding: 3px 8px;
}

.highlight-row {
    background-color: #ffa804; /* Imposta il colore di sfondo per l'evidenziazione */
    font-weight: bold; /* Imposta il grassetto per l'evidenziazione */
    color: black; /* Imposta il colore del testo per l'evidenziazione */
    border: 2px solid black;
  }

.rounded-circle {
    width: 30px;
    height: 30px; 
    background-color: #3C404C; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
}