td {
    padding: 3px 8px;
}

th {
    padding: 3px 8px;
}

.highlight-row {
    background-color: yellow; /* Imposta il colore di sfondo per l'evidenziazione */
    font-weight: bold; /* Imposta il grassetto per l'evidenziazione */
    color: black; /* Imposta il colore del testo per l'evidenziazione */
    border: 2px solid black;
  }