<!-- <div class="section-no-pad">
    <div class="container">
        <div class="row">
          <div class="col-xl-12 mb-3 mb-lg-5">
            <label>Match History</label>
            <div class="row matches-row">
            <div class="bar-container" *ngFor="let bar of bars">
                <div class="label green">+15</div>            
            </div>
            </div>
        </div>
        </div>
    </div>    
</div> -->
<div class="section-no-pad">
    <div class="container">
        <div class="row">
          <div class="col-xl-12 mb-3 mb-lg-5">
            <div class="card">
                <div class="d-flex card-header justify-content-between">
                    <h5 class="me-3 mb-0">Last matches</h5>
                    <a routerLink="/matches">View All</a>
                  </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="bar-container" *ngFor="let bar of bars">
                        <div class="label green">+15</div>            
                    </div>
                </div>            
              </div>
            </div>
          </div>
        </div>
    </div>    
</div>