<div class="section-no-bottom-pad">
    <div class="container">
        <div class="row">
          <div class="col-xl-12 mb-lg-5">
            <div class="card">
                <div class="d-flex card-header card-header-matches justify-content-between bg-gradient">
                    <h5 class="me-3 mb-0">Last matches</h5>
                    <button class="view-all-btn bg-gradient-yellow btn-round" routerLink="/matches">View All</button>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                      <div class="" *ngFor="let bar of bars">
                        <div class="bar-container" *ngIf="bar.label === '+15'">
                          <div class="label green"> W</div>
                          <span class="points-span"> + 15 </span> 
                        </div>   
                        <div class="bar-container" *ngIf="bar.label != '+15'">
                          <div class="label red"> L</div>
                          <span class="points-span"> - 15 </span> 
                        </div>      
                      </div>
                  </div>            
                </div>
            </div>
          </div>
        </div>
    </div>    
</div>