.matches-row {
    margin: 0 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Imposta la larghezza desiderata */
    height: 40px; /* Imposta l'altezza desiderata */
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 15px; /* Puoi regolare la dimensione del testo */
  }
  
  .green {
    background-color: #14CDC8;
    color: black;
  }

  .red {
    background-color: #FF735E;
    color: white;
  }

  .grey {
    background-color: #7d7474c5;
    color: white;
  }

  .points-span {
    color: grey;
    font-weight: 600;
    opacity: 0.7;
  }

  .bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .matches-circle {
    flex-direction: row;
  }