.matches-row {
    margin: 0 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
  }


  
  .label {
    flex: 1;
    position: relative;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    font-weight: 700;
  }
  
  .green {
    background-color: #14CDC8;
    color: black;
    padding: 15px;
  }

  .red {
    background-color: #FF735E;
    color: white;
    padding: 15px 20px;
  }

  .points-span {
    color: grey;
    font-weight: 600;
    opacity: 0.7;
  }

  .bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .matches-circle {
    flex-direction: row;
  }