<div class="section-no-bottom-pad">
    <div class="container">
        <div class="row">
          <div class="col-xl-12 mb-lg-5">
            <div class="card">
                <div class="d-flex card-header justify-content-between bg-gradient">
                    <h5 class="me-3 mb-0">Last matches</h5>
                    <button class="p-btn btn-round p-btn soft-down-shadow-b" routerLink="/matches">View All</button>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="" *ngFor="let match of matches; let i = index">
                      <div class="bar-container">
                        <ng-container *ngIf="match.label === '+15'">
                          <div class="label green"> W</div>
                          <span class="points-span"> + 15 </span> 
                        </ng-container>
                        <ng-container *ngIf="match.label === '-15'">
                          <div class="label red"> L</div>
                          <span class="points-span"> - 15 </span> 
                        </ng-container>
                        <ng-container *ngIf="match.label !== '+15' && match.label !== '-15'">
                          <div class="label grey"> # </div>
                          <span class="points-span"> -/+ </span> 
                        </ng-container>
                      </div>   
                    </div>
                      <!-- <div class="" *ngFor="let bar of bars">
                        <div class="bar-container" *ngIf="bar.label === '+15'">
                          <div class="label green"> W</div>
                          <span class="points-span"> + 15 </span> 
                        </div>   
                        <div class="bar-container" *ngIf="bar.label != '+15'">
                          <div class="label red"> L</div>
                          <span class="points-span"> - 15 </span> 
                        </div>      
                      </div> -->
                  </div>            
                </div>
            </div>
          </div>
        </div>
    </div>    
</div>