.matches-row {
    margin: 0 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
  }
  
  .label {
    flex: 1;
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-radius: 50%;
  }
  
  .green {
    background-color: green;
  }

  .matches-circle {
    flex-direction: row;
  }